<h2 id="title">Welcome to Ember-CLI Rails Test</h2>

<img src="assets/images/logo.png">
<img src="public-dir-logo.png">

{{!-- Test symlink from Rails public/ into this Ember app: --}}
<img src="images/logo.png">

{{outlet}}
